In [20]:
import pandas as pd
dir = 'F:\diabetese-dataset\Energydata.xlsx'
df = pd.read_excel(dir)
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-11-01 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.00,...,17.066667,45.560000,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
1,2016-11-01 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.89,...,17.000000,45.400000,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410390,45.410390
2,2016-11-01 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.89,...,17.000000,45.290000,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
3,2016-11-01 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.89,...,17.000000,45.290000,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
4,2016-11-01 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.89,...,17.000000,45.290000,5.966667,734.366667,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,27/05/2016 16:30,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.70,...,23.200000,46.700000,22.900000,755.350000,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520
9986,27/05/2016 16:40,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.70,...,23.200000,46.652857,22.933333,755.300000,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732
9987,27/05/2016 17:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.70,...,23.200000,46.751429,23.000000,755.200000,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201
9988,27/05/2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.70,...,23.200000,46.790000,22.600000,755.200000,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
9989,27/05/2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.70,...,23.200000,46.845000,22.200000,755.200000,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [21]:
df1 = df.drop(['date','Appliances'], axis=1)
df1

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.00,45.992500,17.166667,...,17.066667,45.560000,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
1,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.89,45.723333,17.166667,...,17.000000,45.400000,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410390,45.410390
2,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.89,45.730000,17.133333,...,17.000000,45.290000,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
3,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.89,45.863333,17.100000,...,17.000000,45.290000,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
4,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.89,46.430000,17.100000,...,17.000000,45.290000,5.966667,734.366667,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.70,45.400000,23.200000,...,23.200000,46.700000,22.900000,755.350000,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520
9986,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.70,45.500000,23.200000,...,23.200000,46.652857,22.933333,755.300000,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732
9987,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.70,45.626667,23.200000,...,23.200000,46.751429,23.000000,755.200000,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201
9988,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.70,45.590000,23.230000,...,23.200000,46.790000,22.600000,755.200000,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
9989,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.70,45.963333,23.200000,...,23.200000,46.845000,22.200000,755.200000,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [22]:
df2 = df['Appliances']
df2

0        60
1        50
2        50
3        60
4       230
       ...
9985    220
9986    180
9987    110
9988     90
9989    430
Name: Appliances, Length: 9990, dtype: int64

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test, y_train, y_test = train_test_split(df1, df2, test_size= 0.2)

In [35]:
model = LinearRegression()

In [36]:
model.fit(x_train, y_train)

LinearRegression()

In [37]:
y_pred = model.predict(x_test,y_test)

In [43]:
print(y_pred)

[194.28040746 112.82851199 147.18351699 ... 105.2722256  103.39945277
 111.08323233]