In [1]:
import pandas as pd
dir = 'F:\diabetese-dataset\Dengue.xlsx'
df = pd.read_excel(dir)
df

,date_week,date,rain,Tair,rh,Mean_EVI,lncase_0,lncase_1,lncase_2,lncase_3,lncase_4
0,201301,2012-12-30,0.195273,0.643833,0.491234,0.222167,3.496508,4.382027,4.682131,4.691348,5.023881
1,201302,2013-01-06,0.000441,0.679941,0.452052,0.581625,4.382027,4.682131,4.691348,5.023881,4.983607
2,201303,2013-01-13,0.006073,0.757157,0.528279,0.708618,4.682131,4.691348,5.023881,4.983607,4.787492
3,201304,2013-01-20,0.006922,0.628925,0.613447,0.683476,4.691348,5.023881,4.983607,4.787492,5.411646
4,201305,2013-01-27,0.056071,0.649667,0.416352,0.722145,5.023881,4.983607,4.787492,5.411646,5.777652
...,...,...,...,...,...,...,...,...,...,...,...
413,202049,2020-11-29,0.002675,0.593175,0.569991,0.754052,4.521789,4.290459,4.406719,3.637586,3.737670
414,202050,2020-12-06,0.019823,0.561818,0.519115,0.625111,4.290459,4.406719,3.637586,3.737670,3.687628
415,202051,2020-12-13,0.011249,0.586876,0.544007,0.703703,4.406719,3.637586,3.737670,3.687628,3.712649
416,202052,2020-12-20,0.023800,0.533037,0.532567,0.638070,3.637586,3.737670,3.687628,3.687628,3.700138
417,202053,2020-12-27,0.000176,0.595330,0.530835,0.805380,3.737670,4.487134,3.687628,3.704308,3.706394

In [2]:
import numpy as np

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
df1= scaler.fit_transform(np.array(df[['rain','Tair','rh','Mean_EVI','lncase_0','lncase_1','lncase_2','lncase_3','lncase_4']]).reshape(-1,1))
#scaler.fit_transform(np.array(df['lncase_1']).reshape(-1,1))
#scaler.fit_transform(np.array(df['lncase_2']).reshape(-1,1))
#scaler.fit_transform(np.array(df['lncase_3']).reshape(-1,1))
#scaler.fit_transform(np.array(df['lncase_4']).reshape(-1,1))

In [12]:
df1.shape

(3762, 1)

In [5]:
training_size= int(len(df1)*0.7)

In [6]:
test_size = len(df1)-training_size

In [7]:
training_size,test_size

(2633, 1129)

In [8]:
train_data,test_data=df1[0:training_size,:],df1[training_size:len(df1),:1]

In [10]:
import numpy
#convert an array of values into dataset matrix
def create_dataset(dataset,time_step=1):
    dataX,dataY = [], []
    for i in range (len(dataset)-time_step-1):
        a = dataset[i:(i+time_step),0]
        dataX.append(a)
        dataY.append(dataset[i + time_step ,0])
    return numpy.array(dataX), numpy.array(dataY)